<div class="inner-banner style-6">
    <img class="center-image" th:src="@{img/banners/flight_banner.jpg}" alt="">
    <div class="vertical-align">
        <div class="container">
            <h2 class="color-white">all flights for you</h2>
            <h4 class="color-white">We found: <span th:text="${flights.getTotalElements()}"></span> flights</h4>
        </div>
    </div>
</div>
<div class="list-wrapper bg-grey-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <form method="get">
                    <div class="sidebar bg-white clearfix">
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">search</h4>
                            <div class="search-inputs">
                                <div class="form-block clearfix">
                                    <div class="input-style-1 b-50 color-3">
                                        <img th:src="@{img/loc_icon_small_grey.png}" alt="">
                                        <input type="text" placeholder="Choose location" name="cityName">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="c-button b-40 bg-blue-2 hv-blue-2-o" value="search">
                        </div>
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">categories</h4>
                            <div class="sidebar-rating">
                                <th:block th:each="flightCategory : ${categories}">
                                    <div class="input-entry color-1">
                                        <input class="checkbox-form" type="checkbox">
                                        <label class="clearfix">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="checkbox-text" th:text="${flightCategory.type}"></span>
                                        </label>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">price range</h4>
                            <div class="slider-range color-1 clearfix" data-counter="" data-position="start" data-from="0"
                                 data-to="1500" data-min="0" data-max="2000">
                                <div class="range"></div>
                                <input name="priceStart" type="text" class="amount-start" readonly/>
                                <input name="priceEnd" type="text"  class="amount-end" readonly/>
                            </div>
                            <input type="submit" class="c-button b-40 bg-blue-2 hv-blue-2-o" value="search"/>
                        </div>
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">airlines</h4>
                            <div class="sidebar-rating">
                                <th:block th:each="airline : ${airlines}">
                                    <div class="input-entry color-1">
                                        <input class="checkbox-form" type="checkbox">
                                        <label class="clearfix">
                                            <span class="sp-check"><i class="fa fa-check"></i></span>
                                            <span class="checkbox-text" th:text="${airline.name}"></span>
                                        </label>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="sidebar-block">
                            <h4 class="sidebar-title color-dark-2">Review Score</h4>
                            <div class="sidebar-score">
                                <div class="input-entry type-2 color-2">
                                    <input class="checkbox-form" id="score-5" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-5">
                                    <span class="checkbox-text">
                                    5
                                    <span class="score">
                                    <span class="fa fa-star color-yellow"></span>
                                    </span>
                                    </span><span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-2">
                                    <input class="checkbox-form" id="score-4" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-4">
                                    <span class="checkbox-text">
                                    4
                                    <span class="score">
                                    <span class="fa fa-star color-yellow"></span>
                                    </span>
                                    </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-2">
                                    <input class="checkbox-form" id="score-3" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-3">
                                    <span class="checkbox-text">
                                    3
                                    <span class="score">
                                    <span class="fa fa-star color-yellow"></span>
                                    </span>
                                    </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-2">
                                    <input class="checkbox-form" id="score-2" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-2">
                                    <span class="checkbox-text">
                                    2
                                    <span class="score">
                                    <span class="fa fa-star color-yellow"></span>
                                    </span>
                                    </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="input-entry type-2 color-2">
                                    <input class="checkbox-form" id="score-1" type="checkbox" name="checkbox" value="climat control">
                                    <label class="clearfix" for="score-1">
                                    <span class="checkbox-text">
                                    1
                                    <span class="score">
                                    <span class="fa fa-star color-yellow"></span>
                                    </span>
                                    </span>
                                        <span class="sp-check"><i class="fa fa-check"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div th:replace="~{flights/flights-list}"></div>
        </div>
    </div>
</div>
</div>