<div class="inner-banner style-6">
    <img class="center-image" th:src="@{/img/banners/cruise_detail_banner.jpg}" alt="">
    <div class="vertical-align">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <ul class="banner-breadcrumb color-white clearfix">
                        <li><span>detail</span></li>
                    </ul>
                    <h2 class="color-white">cruise</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:object="${cruise}">
    <div class="detail-wrapper">
        <div class="container">
            <div class="detail-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <h2 class="detail-title color-dark-2" th:text="*{name}"></h2>
                        <div class="detail-rate rate-wrap clearfix">
                            <div class="rate" th:text="|Review Score: ${cruise.score} / 5|"></div>
                            <i th:text="|${#sets.size(cruise.reviews)} reviews|"></i>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="detail-price color-dark-2">price <span class="color-dr-blue" th:text="|$ *{price}|"></span>/person</div>
                    </div>
                </div>
            </div>
            <div class="row padd-90">
                <div class="col-xs-12 col-md-8">
                    <div class="detail-content color-1">
                        <div class="detail-top">
                            <img class="img-responsive" th:src="@{/img/cruise.jpg}" alt="">
                        </div>
                        <div class="detail-content-block">
                            <h3>General Information About tour</h3>
                            <span class="color-white" th:each="city : ${destinations}" th:text="${city.name}"></span>
                            <p th:text="*{information}"></p>
                        </div>
                        <div class="detail-content-block">
                            <h3>reviews</h3>
                            <a id="addTaskButton" class="text-gray-dark" sec:authorize="isAuthenticated()">
                                + Add Review
                            </a>
                            <div id="addItemsInputs">
                                <div class="form-group">
                                    <textarea id="newInputReview" class="form-control" placeholder="Give your review"></textarea>
                                </div>
                                <div class="form-group">
                                    <input id="newInputScore" type="number" class="form-control" placeholder="Give your score"/>
                                </div>
                                <div class="form-group">
                                    <a id="btnSave" class="btn btn-primary">Save</a>
                                    <a id="btnCancel" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                            <div id="loadAllReviews" class="comm-info" th:attr="productId=*{id}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="right-sidebar">
                        <div class="detail-block bg-dr-blue">
                            <h4 class="color-white">details</h4>
                            <div class="details-desc">
                                <p class="color-grey-9">Duration: <span class="color-white" th:text="|*{duration} days|"></span></p>
                                <p class="color-grey-9">Destinations: <span class="color-white" th:each="city : ${destinations}" th:text="${city.name}"></span></p>
                                <p class="color-grey-9">Category: <span class="color-white" th:text="*{cruiseCategory.type}"></span></p>
                                <p class="color-grey-9">review score: <span class="color-white" th:text="*{score} + ' / 5'"></span></p>
                                <p class="color-grey-9">Price: <span class="color-white" th:text="|$ *{price} / person|"></span></p>
                                <p class="color-grey-9">Cruise Line: <span class="color-white" th:text="*{cruiseLine}"></span></p>
                                <p class="color-grey-9">Ship name: <span class="color-white" th:text="*{shipName}"></span></p>

                            </div>
                            <h4 class="color-white">book</h4>
                            <form method="post">
                                <input type="submit" class="c-button bg-white hv-dr-blue-2-o" value="book now">
                            </form>
                        </div>
                        <div class="help-contact bg-grey-2">
                            <h4 class="color-dark-2">Need Help?</h4>
                            <p class="color-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a class="help-phone color-dark-2 link-dr-blue"><img th:src="@{/img/phone24-dark-2.png}" alt="">020 00 59 600</a>
                        </div>
                        <div class="detail-block bg-grey-2" sec:authorize="hasRole('ADMIN')">
                            <h4 class="color-dark-2">Admin</h4>
                            <a class="btn btn-primary" th:href="|/admin/cruises/edit/*{id}|">Edit Flight</a>
                            <a class="btn btn-primary" href="#">Delete Flight</a>
                            <div id="popover-content" class="hide">
                                <p>Are you sure you want to delete this hotel?</p>
                                <a class="btn btn-primary" th:href="'/admin/cruises/delete/'+*{id}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

