<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<div class="not-found">
    <img class="center-image" th:src="@{/img/unauthorizedBg.jpg}" alt="">
    <div class="not-found-box">
        <div class="not-found-title">ouch!</div>
        <div class="not-found-message">sorry the page you are looking for does not exist</div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
<script th:replace="~{fragments/script}"></script>
</body>
</html>